---
const { lang } = Astro.params;
---

<header class="bg-white border-b border-gray-300">
  <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1">
      <a href=`/${lang}/`class="-m-1.5 p-1.5">
        <span class="sr-only">Datanautes</span>
        <img class="h-8 w-auto" src="/images/logo.jpg" alt="Datanautes logo">
      </a>
    </div>


    <div class=" lg:flex lg:flex-1 lg:justify-end">
      <a href="https://twitter.com/datanautes/" class="text-sm font-semibold leading-6 text-gray-900">Twitter <span aria-hidden="true">&rarr;</span></a>
    </div>
  </nav>

</header>
