---
import { languages } from '../i18n/languages';
---



<footer class="my-20">
  {/* 
  <ul>
    {Object.entries(languages).map(([lang, label]) => (
      <li>
        <a href={`/${lang}`}>{label}</a>
      </li>
    ))}
  </ul>*/}
  <p class="text-center text-sm text-slate-500" >
    Copyright © {new Date().getFullYear()} datanautes. All rights reserved.
  </p>

  </p>
</footer>
