---
import { getLangFromUrl, useTranslations } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---



<footer class="my-20">
  {/* 
  <ul>
    {Object.entries(languages).map(([lang, label]) => (
      <li>
        <a href={`/${lang}`}>{label}</a>
      </li>
    ))}
  </ul>*/}
  <p class="text-center text-sm text-slate-500" >
    {t('footer.copyright')}
  </p>

  </p>
</footer>
