---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const currentPath =  Astro.url.pathname.replace(/^\/[a-z]{2}(-[a-z]{2})?\//, '');
---



<footer class="p-20 bg-black">

{/* 
  <ul>
    {Object.entries(languages).map(([lang, label]) => (
      <li>
        <a href={`/${lang}/${currentPath}/`}>{label}</a>
      </li>
    ))}
  </ul> */}
  <p class="text-center text-sm text-slate-500 text-white" >
    {t('footer.copyright')}
  </p>

  </p>
</footer>

