---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource/inter/variable.css";
import { getLanguageFromURL } from "../utils";
import {BRAND, BC_URL } from "data"
const lang = getLanguageFromURL(Astro.url.toString());

export interface Props {
  title: string;
  description?: string;
}
const resolvedImageWithDomain = new URL("/opengraph.jpg", BC_URL).toString();
const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang=`${lang}`>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={`${title}${title && " | "}datanautes`}
      description= {`${description ||  "Datanautes"}`}
      canonical={BC_URL + Astro.url.pathname}
      languageAlternates={[
        { href: BC_URL + "/de/" + Astro.url.pathname.substring(4), hrefLang: "de" }
      ]}
     twitter={{
        creator: "@datanautes",
        site: "@datanautes",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          type: "website",
          title: `${title}${title && " | "}datanautes`,
          image: resolvedImageWithDomain,
          url: BC_URL + Astro.url.pathname
        },
        image: {
          alt: "datanautes Thumbnail",
        },
      }}
    />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
      /* Avoid Alpine.js Hidden Element Flash */
      [x-cloak] {
        display: none;
      }
    </style>
  </body>
</html>
